* {
    box-sizing: border-box;
}
:root {
  --window-color1: #98857f;
  --window-color2: #dbc8b2;
  --borderwindow-color: #5c5751;
}

body {
    position: relative;
    background-image: linear-gradient(
      to top, #2fc62f 0 20%,rgb(136, 197, 221) 20%, skyblue 60% 80%, #0097c5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.building {
    position: absolute;
    width: 35%;
    height: 85%;
    top: 2%;
}

.box {
    position: absolute;
    top:5%;
    height: 100%;
    width: 100%;
    background-color: var(--window-color2);
    border: 2px solid black;
}

.roof {
    position: absolute;
    left: 2.9%;
    width: 100%;
    height: 5%;
    transform: skewX(-50deg);
    background: var(--window-color1);
    border: 1px solid black;
}

.rightside {
    position: absolute;
    width: 6%;
    height: 100%;
    transform: skewY(-40deg);
    background: #736460;
    right: -6%;
    top: 2.5%;
    z-index: -1;
    border: 1px solid black;
}

.middleface {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    z-index: 1;
}

.faceleft {
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: var(--borderwindow-color);
}
.faceright {
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: var(--borderwindow-color);
    right: 0;
}

.etages {
    position: relative;
    width: 100%;
    height: 81%;
    display: flex;
    flex-direction: column;
}
.etage1, .etage2, .etage3, .etage4 {
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 2px solid var(--window-color1);
    display: flex;
}

.window {  
    position: relative;
    top: 0%;
    height: 50%;
    width: 17%;
    border: 4px solid var(--borderwindow-color);
    margin: auto;
    margin-top: 5%;
    float: left;
    
}
 
.window::before {
    position: absolute;
    top: 0%;
    content: "";
    width: 45.4%;
    height: 100%;
    background-color: var(--window-color1);
    border: 2px solid black;
    transform-origin: 0% 0%;
    transition: 1s;
    z-index: 1;
}

.window::after {
    position: absolute;
    top: 0%;
    content: "";
    right: 0;
    width: 45.3%;
    height: 100%;
    background-color: var(--window-color1);
    border: 2px solid black;
    transform-origin: 100% 100%;
    transition: 1s;
    z-index: 1;
}

.window.active::before {
    transform: rotateY(122deg);
}

.window.active::after {
    transform: rotateY(122deg);
    /* z-index: 10; */
}

.window.active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    transform: translate(-32.8%, -11.17%);
    transition: 1s;
} 

.window.open::before {
    transform: rotateY(122deg);
}

.window.open::after {
    transform: rotateY(122deg);
    /* z-index: 10; */
}

.rdc {
    position: absolute;
    width: 100%;
    /* border: 2px solid black; */
    height: 20%;
    background-color: var(--borderwindow-color);
    bottom: 0;
}

.porte {
    position: relative;
    width: 15%;
    border: 2px solid black;
    height: 90%;
    margin: auto;
    top: 10%;
    background-color: var(--window-color2);
}

