* {
    box-sizing: border-box;
}
:root {
  --window-color1: #6C5F5B;
  --window-color2: #B3A492;
  --borderwindow-color: #4F4A45;
}

body {
    background-image: linear-gradient(
      to top, #2fc62f 0 20%,rgb(136, 197, 221) 20%, skyblue 60% 80%, #0097c5);
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roof {
    position: absolute;
    top: 0;
    left: 36.3%;
    width: 30%;
    height: 5%;
    transform: skew(-50deg);
    background: var(--window-color1);
}
.rightside {
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 30%;
    transform: skew(-50deg);
    background: var(--window-color2);
}

.box {
    position: absolute;
    height: 90%;
    width: 30%;
    background-color: #B3A492;
    border: 2px solid #4F4A45;
}

.etage1, .etage2, .etage3, .etage4 {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
}

/*.window5, .window6, .window7, .window8 */

.window{  
    position: relative;
    height: 70%;
    border: 2px solid black;
    width: 25%;
    z-index: 1;
}

.window::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: var(--window-color1);
    border: 2px solid black;
    transform-origin: 0% 0%;
    transition: 0.8s;
}

.window::after {
    position: absolute;
    content: "";
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--window-color2);
    border: 2px solid black;
    transform-origin: 100% 100%;
    transition: 0.8s;
}

.window.active::before {
    transform: rotateY(120deg);
}

.window.active::after {
    transform: rotateY(120deg);
    /* z-index: 1; */
}

.window.active {
    width: 65%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rdc {
    width: 100%;
    border: 2px solid black;
    height: 20vh;
    background-color: var(--borderwindow-color);
}

.porte {
    position: relative;
    width: 20%;
    border: 2px solid black;
    height: 98%;
    margin: auto;
    top: 2%;
    background-color: var(--window-color1);
}
.porte::before {
    position: absolute;
    content: "";
    height: 100%;
    left: 50%;
    border: 1px solid black;
}
